.head-banner {
  background-image: url(../../images/musicBars.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 50%;
  margin-top: 49px;
  position: fixed;
  top: 0;
  left: 0;

}

.head-banner-app-title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 80px;
  text-shadow: 4px 4px #5469D4;
  margin-bottom: 0px;
  margin-top: 120px;
}


.banner-text {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: none;
  text-shadow: 2px 2px #5469D4;
  font-size: 25px;
}



@media screen and (max-width: 100%){};
