/* TODO Add site wide styles */

body {
margin: 0;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
background: #ECF0F3;
}

a {
  margin: 5px;
  font-family: highway 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: unset;
}



button {
  color: #ffffff;
  font-weight: bold;
  background-color: #5469D4;
}
