/* TODO Add site wide styles */

body {
margin: 0;
padding: 0;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
background: #dcdcdc;
height: 100%;
width: 100%;
}

a {
  margin: 10px;
  text-decoration: unset;
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 3px
}

a:hover {
  border: solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}



button {
  color: #ffffff;
  background-color: #5469D4;
  font-size: larger;
  border-radius: 8px;
  margin-right: 5px;
  margin-left: 5px;
}

footer {
  /* font-family: Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif; */
  display: flex;
  justify-content: center;
  background-color: rgb(60, 60, 60);
  height: 45px;
  margin: 0;
  padding-top: 10px;
}


