li {
  list-style-type: none;
 }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
}

.home-link {
    margin: 10px;
}


.nav {
  background: rgb(60, 60, 60);
  margin: 0;
}
